#pretrain ckpt file and train ckpt files
/models/pretrain/*
/models/train/*

#cache
/yolo/__pycache__/*
/yolo/dataset/__pycache/*
/yolo/net/__pycache__/*
/yolo/solver/__pycache__/*
/yolo/utils/__pycache__/*
